.about-container {
    align-items: center;
    min-height: 100vh;
    background-color: #FEFAF3;
    background-image: url("./assets/Photo_i_lost_my_cabron.jpg");
    background-size: 10%;
    background-repeat: no-repeat;
    padding: 300px;
}

.go-back-to-welcome {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 16px;
    background-color: #062134;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 20px;
}

.go-back-to-account:hover {
    background-color: black;
}

.go-back {
    display: grid;
    margin-bottom: 20px;
    padding: 8px 16px;
    background-color: #062134;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 20px;
}