.logout {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.logout:hover {
  text-decoration: underline;
  color: rgb(12, 3, 151);
}

.delete-account {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.delete-account:hover {
  text-decoration: underline;
  color: rgb(255, 0, 43);
}