.logout {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.logout:hover {
  text-decoration: underline;
  color: rgb(12, 3, 151);
}

.delete-account {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.delete-account:hover {
  text-decoration: underline;
  color: rgb(255, 0, 43);
}

.dropside-menu ul {
    background: inherit;
    color: inherit;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
}