.App {
    overflow-x: hidden;
}


.Caramelo_run {

    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 1000;
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    animation-name: runScreen;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    opacity: 0;

}

@keyframes runScreen {
    0% {
        background-position: -200px 100%;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        background-position: 2000px 100%;
        opacity: 0;

    }
}

section {

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_welcome {
    margin-top: 50px;
    width: 700px;
    border-radius: 20%;

    animation-name: logoWelcome;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}

@keyframes logoWelcome {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.welcomeButton {
    margin-top: 100px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.Top {
    position: relative;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_cabron {
    display: flex;
    width: 200px;
    margin-left: 40px;
    border-radius: 50%;
}

.dropside-menu {
    position: absolute;
    margin: 700px;
    flex-direction: column;
    background: var(--bg);
    box-shadow: var(--shadow);
    border-radius: 0.5rem;
    padding: 1rem;
    z-index: 1000;

    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;

}

.dropside-menu.open {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transform: translateX(0);
    opacity: 1;
    gap: 20px;
    pointer-events: auto;

}

ul {
    display: flex;
    list-style: none;
}

section ul li a {
    display: flex;
    flex-direction: row;
    padding: 0.8rem;
}

input.search {
    width: 200px;
    height: 20px;
    font-size: large;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.menu {
    background-color: #C48633;
    font-size: large;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2);
    width: 5vw;
    height: 4vh;
    cursor: pointer;

}

.login {
    display: flex;
    margin-top: 40px;
    margin-left: 100px;
    width: 80px;
    cursor: pointer;
}

.dropdown-login {
    position: absolute;
    margin-left: 70px;
    margin-top: 10px;
    flex-direction: column;
    background: var(--bg);
    box-shadow: var(--shadow);
    border-radius: 0.5rem;
    padding: 1rem;
    z-index: 1000;

    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.dropdown-login.open {
    transform: translateY(0);
    opacity: 1;
    gap: 20px;
    pointer-events: auto;
}

.pet-profile{
    border: 1px solid blue;
    border-radius: 10px;
    box-shadow:5px 5px 5px rgba(255, 255, 255, 0.623);
    padding: 20px;
    width: 400px;
    height: 400px;
    margin-left: 800px;

}

.pet-card {
    display: flex;
    text-align: center;
}